<!doctype html>
<title>Image viewer</title>
<style>
#images ul {
  white-space: nowrap;
  float: left;
}

#images ul, #images li {
  list-style: none;
  display: inline;
}

table {
   width: 100%;
}

#trspace tr {

}

table td:nth-child(-n+4) div
{
 min-width: 100px;
}

#go form{
  display:inline;
}

input[type=submit] {
    width: 5em;  height: 3em;
}
</style>
<body bgcolor="#cccccc" style="font-family: verdana; font-size: 18px">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script>
// when the document is ready, run this function
jQuery(function( $ ) {
    var keymap = {};

    // LEFT
    keymap[ 37 ] = "#prev";
    // RIGHT
    keymap[ 39 ] = "#next";

    $( document ).on( "keyup", function(event) {
        var href,
            selector = keymap[ event.which ];
        // if the key pressed was in our map, check for the href
        if ( selector ) {
            href = $( selector ).attr( "href" );
            if ( href ) {
                // navigate where the link points
                window.location = href;
            }
        }
    });
});
</script>
<table>
<col width="600">
<col width="800">
<tr><td><center><b><font style="font-size: 23px;">Video {{video_name}} ({{current +1}}/{{total}})</font></b></center></td>
    <td>
        <form id='go' method='post' action="/video/GO">
            <a href="/video/FIRST">&lt;&lt;&lt; First</a> |
            {% if previous %}
            <a id="prev" href="{{previous}}" accesskey="1">&lt; Previous</a>
            {% else %}
            &lt; Previous
            {% endif %}
            | <a href="/video/RANDOM">Random</a> |
            {% if following %}
            <a id="next" href="{{following}}" accesskey="2">Next &gt;</a>
              {% else %}
              Next &gt;
            {% endif %}
            | <a href="/video/LAST">Last &gt;&gt;&gt;</a> |
            <input type="text" name="gopage" size="8"> <input type='submit' name="submit" value='Go' />
        </form>
    </td>
</tr>

<!--
<tr id="trspace">
    <td colspan="2"><BR/><BR/>Given the <font color="red">target object</font> in the video:</td>
</tr>
<tr>
    <td colspan="2" style="background-color:#f2f2f2"><left>
    <ul id="images">
    {% for frame in frames %}
    <li><img src="{{frame}}" style="max-width:300px;max-height:200px;border:2px solid white"></li>
    {% endfor %}
    </ul></left></td>
</tr>
-->

<tr id="trspace">
    <td colspan="2"><BR/>Annotate what the <font color="red">target object</font> is doing in the video:</td>
</tr>

<tr>
<td>
<center>
    <!--<img src="{{video}}" style="max-width:600px;max-height:400px;border:2px solid white">-->
    <video width="480" height="360" controls>
    <source src="{{video}}" type="video/mp4">
    Your browser does not support the video tag.
    </video>
</center>
</td>

<td>
<!--Form modifying code for easier annotation.-->
<left>
<form id='answerform' method='post' action="{{url_for('submit_annotation',video_number=video_number)}}" >
<table>
<tr><td><p style="font-size: 15px">Describe by ONE sentence what the object is doing in the video</p><td></tr>
<tr><td><input type="text" name="caption" size="100"></td></tr>
<!--<tr><td><textarea name="caption" rows="2" cols="100" style="border:none;"></textarea></td></tr>-->

<!--<tr><td>Describe by selecting WORDS what the object is doing in the video<td></tr>-->
<!--<tr><td><input type="text" name="caption" size="100"></td></tr>-->

<!--
<tr><td>
    <select name="pd-color">
        <option value =""></option>
        <option value="black">black</option>
        <option value="blue">blue</option>
        <option value="brown">brown</option>
        <option value="gray">gray</option>
        <option value="green">green</option>
        <option value="orange">orange </option>
        <option value="pink">pink</option>
        <option value="purple">purple</option>
        <option value="red">red</option>
        <option value="white">white</option>
        <option value="yellow">yellow</option>
    </select>
    <select name="pd-object">
        <option value ="baby">baby</option>
        <option value ="ball">ball</option>
        <option value="bird">bird</option>
        <option value="car">car</option>
        <option value="cat">cat</option>
        <option value="dog">dog</option>
        <option value="person">person</option>
    </select>
    <select name="pd-action">
        <option value ="climbing">climbing</option>
        <option value ="crawling">crawling</option>
        <option value="eating">eating</option>
        <option value="flying">flying</option>
        <option value="jumping">jumping</option>
        <option value="rolling">rolling</option>
        <option value="running">running</option>
        <option value="walking">walking</option>
    </select>
    <select name="pd-position">
        <option value =""></option>
        <option value ="in the middle">in the middle</option>
        <option value="on the left">on the left</option>
        <option value="on the right">on the right</option>
        <option value="at the top">at the top</option>
        <option value="at the bottom">at the bottom</option>
    </select>
</td></tr>
-->

<!--<tr><td>Describe by ONE sentence using the WORDS you select above only<td></tr>-->
<!--<tr><td><input type="text" name="caption" size="100"></td></tr>-->
<!--<tr><td><textarea name="st-caption" rows="2" cols="100" style="border:none;"></textarea></td></tr>-->

</table>
<p>
<input type='submit' value='Save' /> <!--the 'value' is the word that will appear on your button.-->
</p>
</form>
</left>
</td>
</tr>

</table>
</body>


