<html>
<body bgcolor="#cccccc" style="font-family: verdana; font-size: 23px">
<style>
.blank_row
{
    height: 50px !important; /* Overwrite any previous rules */
    background-color: #cccccc;
}
input[type=submit] {
    width: 6em;  height: 3em;
}
</style>

<h1>Example</h1>
<p>This page demonstrates how to annotate step by step.</p>

<table cellpadding="5">
<tr><td>
<font style="font-family: verdana; font-size: 16px; color: red;">1) Check the target object shown in mutiple video frames.</font>
</td></tr>
<tr><td><img src='/static/example/demo1.png' style="max-width:1200px;border:2px solid white">
</td></tr>

<tr class="blank_row">
    <td colspan="20"></td>
</tr>

<tr><td>
<font style="font-family: verdana; font-size: 16px; color: red;">2) Watch the video and provide a description about what the target object is doing in the video: <BR/> Describe in ONE sentence, explicitly specifying the CATEGORY of the object (like car, dog, etc.) and the ACTION that the object is doing (like jumping, walking, etc.). <BR/> Other properties (like COLOR or LOCATION) of the object may also be used in the description so that the target object can be IDENTIFIED UNIQUELY from the video.</font>
</td></tr>
<tr><td><img src='/static/example/demo2.png' style="max-width:1200px;border:2px solid white">
</td></tr>

<tr class="blank_row">
    <td colspan="20"></td>
</tr>

<tr><td>
<form id='signin' method='post' action="start_example">
<input type='submit' value='Start' />
</form>
</td></tr>
</table>
</body>
</html>

